
<p id="notice"><%= notice %></p>
<p>
  <strong>Ndb do:</strong>
  <%= @nut_datum.ndb_do %>
</p>

<p>
  <strong>Nutr no:</strong>
  <%= @nut_datum.nutr_no %>
</p>

<p>
  <strong>Nutr val:</strong>
  <%= @nut_datum.nutr_val %>
</p>

<p>
  <strong>Num data pts:</strong>
  <%= @nut_datum.num_data_pts %>
</p>

<p>
  <strong>Std error:</strong>
  <%= @nut_datum.std_error %>
</p>

<p>
  <strong>Src cd:</strong>
  <%= @nut_datum.src_cd %>
</p>

<p>
  <strong>Deriv cd:</strong>
  <%= @nut_datum.deriv_cd %>
</p>

<p>
  <strong>Ref ndb no:</strong>
  <%= @nut_datum.ref_ndb_no %>
</p>

<p>
  <strong>Add nutr mark:</strong>
  <%= @nut_datum.add_nutr_mark %>
</p>

<p>
  <strong>Num studies:</strong>
  <%= @nut_datum.num_studies %>
</p>

<p>
  <strong>Min:</strong>
  <%= @nut_datum.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @nut_datum.max %>
</p>

<p>
  <strong>Df:</strong>
  <%= @nut_datum.df %>
</p>

<p>
  <strong>Low eb:</strong>
  <%= @nut_datum.low_eb %>
</p>

<p>
  <strong>Stat cmt:</strong>
  <%= @nut_datum.stat_cmt %>
</p>

<%= link_to 'Edit', edit_nut_datum_path(@nut_datum) %> |
<%= link_to 'Back', nut_data_path %>
