<p id="notice"><%= notice %></p>

<p>
  <strong>Ndb do:</strong>
  <%= @datum.ndb_do %>
</p>

<p>
  <strong>Nutr no:</strong>
  <%= @datum.nutr_no %>
</p>

<p>
  <strong>Nutr val:</strong>
  <%= @datum.nutr_val %>
</p>

<p>
  <strong>Num data pts:</strong>
  <%= @datum.num_data_pts %>
</p>

<p>
  <strong>Std error:</strong>
  <%= @datum.std_error %>
</p>

<p>
  <strong>Src cd:</strong>
  <%= @datum.src_cd %>
</p>

<p>
  <strong>Deriv cd:</strong>
  <%= @datum.deriv_cd %>
</p>

<p>
  <strong>Ref ndb no:</strong>
  <%= @datum.ref_ndb_no %>
</p>

<p>
  <strong>Add nutr mark:</strong>
  <%= @datum.add_nutr_mark %>
</p>

<p>
  <strong>Num studies:</strong>
  <%= @datum.num_studies %>
</p>

<p>
  <strong>Min:</strong>
  <%= @datum.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @datum.max %>
</p>

<p>
  <strong>Df:</strong>
  <%= @datum.df %>
</p>

<p>
  <strong>Low eb:</strong>
  <%= @datum.low_eb %>
</p>

<p>
  <strong>Stat cmt:</strong>
  <%= @datum.stat_cmt %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
